body {
	background-color: #f5f5f5 !important;
}
.fuelux .tree {
	border: 0px !important;
}

.form-group {
    margin-bottom: 15px !important;
    margin-right: 18px;
}

.form-group label {
	width: 110px;
	text-align: right;
}

.panel {
	margin-bottom:1px;
}



.navs-slider {
	position: relative;
	display: inline-block;
	border-bottom: 0px !important;
	float:left;
}

.nav-pills{
	float:right;
}

li.active .navs-slider-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 85%;
	margin: 0 .7em;
	height: 2px;
	background: #5f98c4;
	-webkit-transition: left .15s ease-in;
	transition: left .15s ease-in
}

.navs-slider a {
	float: left;
	line-height: 35px;
	opacity: .7;
	-ms-filter: "alpha(Opacity=70)";
	-webkit-transition: opacity .15s, color .15s;
	transition: opacity .15s, color .15s
}

html.no-touchevents .navs-slider a:hover {
	opacity: 1;
	-ms-filter: "alpha(Opacity=100)";
	text-decoration: none
}

.navs-slider li.active a {
	opacity: 1;
	-ms-filter: "alpha(Opacity=100)";
	color: #3291d9 !important;
	background-color: #f5f5f5 !important;
    border: 0px !important;
}

